* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #ffffff;
    --color-secondary: #00001a;

    --color-background: #3466cb;
  
    --color-accent: #ff5945;

    --color-input: #d7d5d5;

    --color-checked: #555;
}

.darkmode {
    --color-primary: #00001a;
    --color-secondary: #ffffff;
    --color-background: #300214;
    /* --color-input: #6c1a6c; */
    background-image: url(../assests/darkmode-mountain.jpg)
}

body {
    background-image: url(../assests/lightmode-mountain.jpg);
    background-position: center;
    background-origin: content-box;
    background-color: var(--color-background);
}

.content-container {
    margin: 2rem auto;
    max-width: 34rem;
}

.title-and-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 4.5rem;
    margin-left: 3.3rem;
    color: var(--color-primary);
    text-shadow: 1px 1px var(--color-secondary);
}

#icon {
    cursor: pointer;
    color: var(--color-primary);
}

.todo-app {
    background-color: var(--color-primary);
    height: 500px;
    box-shadow: .5px .5px 20px .5px var(--color-secondary);
    border-radius: 20px;
    overflow: auto;
}

.todo-app * {
    color: var(--color-secondary);
}

.add-task {
    display: flex;
    justify-content: space-between;
    max-width: 30rem;
    margin: 40px auto 20px;
    background-color: var(--color-input);
    border-radius: 25px;

}

#input-box {
    background-color: transparent;
    border: none;
    outline: none;
    max-width: 84%;
    width: 84%;
    margin-left: 20px;
   
}

input[type="text"], input::placeholder {
    color: #00001a;
}

.btn {
    background-color: var(--color-accent);
    padding: 15px 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

ul li {
    list-style: none;
    padding: 20px 8px 12px 15%;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-image: url(../assests/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 34%;
    left: 8%;
}

ul li.checked {
    color: var(--color-checked);
    text-decoration: line-through;
    
}

ul li.checked::before {
    background-image: url(../assests/checked.png)
}