* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-light: #ffffff;
    --color-dark: #00001a;

    --color-accent-1: #0099cc;
    --color-accent-2: #e65c00;

    --color-checked: #555;
}

body {
    background-color: #f2f2f2;
}

.content-container {
    margin: 2rem auto;
    max-width: 34rem;
    
}

.title-and-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 4.5rem;
    margin-left: 3.3rem;
}

.todo-app {
    background-color: var(--color-light);
    height: 500px;
    box-shadow: 1px 1px 10px 1px #00000089;
    border-radius: 20px;
   overflow: auto;
}

.add-task {
    display: flex;
    justify-content: space-between;
    max-width: 30rem;
    margin: 40px auto 20px;
    background-color: #f2f2f2;
    border-radius: 25px;
   
}

#input-box {
    background-color: transparent;
    border: none;
    outline: none;
    max-width: 84%;
    width: 84%;
    margin-left: 20px;
}

.btn {
    background-color: var(--color-accent-2);
    padding: 15px 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--color-light);
}

ul li {
    list-style: none;
    padding: 20px 8px 12px 15%;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-image: url(../assests/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 34%;
    left: 8%;
}

ul li.checked {
    color: var(--color-checked);
    text-decoration: line-through;
    
}

ul li.checked::before {
    background-image: url(../assests/checked.png)
}